.row-switch-controller {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 5px var(--light);
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    background: linear-gradient(135deg, #cee1f8 10%, #60c7fa 90%);
}

.toggle-button {
    text-align: center;
    font-size: 25px;
}


.on {
    color:var(--yellow);
}

.off {
    color:var(--dark);
}