body {
  background-image: url('/src/image/admin-background.png');
  background-size: contain;
  /* Giữ kích thước gốc của hình ảnh */
  background-repeat: no-repeat;
  /* Ngăn hình ảnh lặp lại nếu lớn hơn phần tử */
  background-color: rgba(232, 232, 232, 0.721);
}

:root {
  --blue: #0015ff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #575d62;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}



/* CSS cho nội dung chính */
.content {
  transition: margin-left 0.3s, padding-left 0.3s;
  /* Thêm hiệu ứng chuyển đổi cho margin và padding */
}

@media (min-width: 750px) {
  .content {
    margin-left: 260px;
    /* Kích thước sidebar lớn hơn */
    padding: 20px;
  }
}

@media (max-width: 750px) {
  .content {
    margin-left: 60px;
    /* Kích thước sidebar nhỏ hơn */
    padding: 20px;
    /* Điều chỉnh padding nếu cần */
  }
}

/* file test.css */
@keyframes blinkRed {
  0% { background-color: white; }
  50% { background-color: red; }
  100% { background-color: white; }
}

.alert-background {
  animation: blinkRed 1s infinite;
}
